@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

/* Common Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;


}

/* End of common styles */

/* 1 rem to 10 pixel instead of 16 px */
html {
    font-size: 62.5%;
    /* 0.625*16 = 10, by default 1 rem is equal to 16 px, making it 62.5% = 10px */
}

.section-heading {
    font-size: 12rem;
    font-weight: 900;
    color: #fff;
    text-align: center;
    /* Words capitalized using text-transform*/
    text-transform: capitalize;
    /* Space between letters using letter-spacing of 5 px, */
    letter-spacing: .5rem;
    text-shadow: .3 rem .3rem .3rem #000;
}

/* Section 1 */
.section-1 {
    width: 100%;
    height: 100vh;
    background-color: #333;
    /* Place contents in center */
    display: flex;
    /*Places elements in horizontal need to do it in col wise*/
    flex-direction: column;
    /* Place elements in center horizontally */
    align-items: center;
    /* Add some space between contents */
    justify-content: space-evenly;
}

/* Customize the section heading Variety Of Foods */


/* Icons section .section-1-icons select class and i for i tag i.e. list item */
.section-1-icons i {
    font-size: 35rem;
    color: #a79a2d;
    position: absolute;
    /* Pass in x and y to translate function hide and display items using scale() function, scale(0) hides it*/
    transform: translate(-50%, -50%) scale(0);
    text-shadow: .2rem .2rem .2rem #000;
    transition: transform .3s;
}


/* Apply class change to all icons that you want to display */
.section-1-icons i.change {
    /*set scale(1) also need to use translate otherwise icon position would become default  */
    transform: translate(-50%, -50%) scale(1);
    transition: transform .3s;
    /* Above displays the first icon with change class now we have to create a slide show and for that we use js */
}

/* End of Section 1 - Title and Slideshow of Food Items */

/* Section 2 - 3D Food Cards */


.section-2 {
    width: 100%;
    height: 100vh;
    background-color: #222;
    /* Places element vertically by flex make it col wise using flex-direction */
    display: flex;
    flex-direction: column;
    /* Create space between flex items */
    justify-content: space-between;
    /* Create space inside of section */
    padding: 10rem 0;
}

.cards-container {
    /* Place cards side by side in a row */
    display: flex;
    justify-content: space-evenly;
}


/* Customise the card */

.card {
    width: 30rem;
    background-color: #a79a2d;
    /* Create spacing inside the card */
    padding: 4rem;
    display: flex;
    flex-direction: column;
    /* Space between items */
    justify-content: space-between;
    /* Align items in center */
    align-items: center;
    box-shadow: 1rem 1rem 1rem #000;
    /* Set position to relative to allow before element position as per its parent */
    position: relative;
    /* Rotate and skew the cards a bit */
    transform: rotateY(20deg) skewX(-2deg);
    /* For smoothness specify transform in transition */
    transition: transform .5s, box-shadow 0.5s;

}

/* Hover effect */

.card:hover {
    /* transform with rotate and skew functions */
    transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
    box-shadow: 2rem 2rem 2rem #000;
}

/* Give card 3d effect using before and after */

.card::before {
    content: '';
    height: 100%;
    width: 1rem;
    background-color: #817824;
    position: absolute;
    top: 0;
    left: -1rem;
    /* Transform property witk skew function */
    transform: skewY(45deg);
    /* By default on using transform element moves as per its center and origin of transformation is set to be center, but here we need to change it to right */
    transform-origin: right;
    box-shadow: -.1rem -.1rem .1rem #000;
}

.card::after {
    content: '';
    height: 1rem;
    width: 100%;
    background-color: #8f8317;
    position: absolute;
    top: -1rem;
    left: 0;
    /* Transform property witk skew function */
    transform: skewX(45deg);
    /* By default on using transform element moves as per its center and origin of transformation is set to be center, but here we need to change it to right */
    transform-origin: bottom;
    box-shadow: -.1rem -.1rem .1rem #000;
}


/* fix big images in cards issue */

.card-img {
    /* Takes 100% width of parent element that is card */
    width: 100%;
}

/* Modify card name and button */
.card-name {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: #111;
    margin: 2rem;
    text-shadow: .15rem .15rem .15rem #000;
}

.card-btn {
    width: 70%;
    background-color: #111;
    color: #888;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: .2rem;
    text-transform: capitalize;
    border: none;
    /* .5 on top and bottom and 0 on left and right */
    padding: .5rem 0;
    cursor: pointer;
    /* shadow on left side */
    box-shadow: -0.2rem -0.2rem 0.2rem #000;
}

/* End of Section 2 - 3D Food Cards */

/* Section 3 - Gallery */
.section-3 {
    background-color: #333;
    /* Space at top and bottom */
    padding: 5rem 0;
}

.gallery {
    /* 6 items in 2 rows of 3 */
    display: flex;
    /* To display images in rows use flex-wrap */
    flex-wrap: wrap;
    /* Place in center with space between them */
    align-items: center;
    justify-content: space-evenly;
    /* To create space between heading and gallery */
    margin-top: 10rem;
}

/* Take care of image size in gallery */
.food-img {
    /* 24% of viewable width is width and 15% of viewable height*/
    width: 24vw;
    height: 15vw;
    /*Maintains quality of the image without stretching it.*/
    object-fit: cover;
    /* For multiple lines outside image use boxshadow with multiple values*/
    box-shadow: .3rem .3rem .1rem #e92929, .5rem .5rem .5rem #a2e946, .7rem .7rem .1rem #297ce9, .9rem .9rem .1rem #e92999;
    transition: all .5s;
}

.gallery-link {
    position: relative;
    margin: 4rem 1rem;
}

/* Change shadow of image on hover */
.gallery-link:hover .food-img {
    box-shadow: 1rem 1rem .1rem #e92929, 2rem 2rem .5rem #a2e946, 3rem 3rem .1rem #297ce9, 4rem 4rem .1rem #e92999;
    /* filter property with blur function to make image blurry */
    filter: blur(0.5rem);
    opacity: 0.5;
    /* Increase scaling of image on hover */
    transform: scale(1.1);
}

/* Set height to 0 for vertical line */
.gallery-link::before {
    content: "";
    position: absolute;
    top: 2vw;
    left: 80%;
    width: .2rem;
    height: 0;
    background-color: #fff;
    /* To make effect smooth use transition */
    transition: height .5s;
    /* To bring the vertical line to front on hover */
    z-index: 10;
}

.gallery-link:hover::before {
    height: 80%;
}

/* Set width to 0 for horizontal line */

.gallery-link::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 2rem;
    /* Set width to 0 */
    width: 0;
    height: 0.2rem;
    background-color: #fff;
    /* Transition for width with time of half seconds */
    transition: width .5s;
}

.gallery-link:hover::after {
    width: 90%;
}


/* Customise food names */

/* For hover name and description should be hidden */
.food-name {
    /* Top left corner of image, set position of gallery-link as relative */
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #fff;
    width: 0;
    overflow: hidden;
    /* To keep the name for some time */
    transition: width .9s;
}

.gallery-link:hover .food-name {
    width: 100%;
    /* transition : time with delay of half seconds on hovering */
    transition: width 1.5s .5s;
}

/* food description section properties */

.food-description {
    position: absolute;
    bottom: 3vw;
    left: 2rem;
    width: 70%;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

.gallery-link:hover .food-description {
    opacity: 1;
    visibility: visible;
    /* 1s transition with 1s delay */
    transition: opacity 1s 1s;

}

/* End of Section 3 - Gallery */