/* Common Styles */

/* Select every element using * and get rid of default margin and padding */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: "Baloo Da 2", cursive;
}

/* Throughout the project we use rem as measurement, by default 1 rem = 16px so we scale it down to 62.5% to make 1 rem = 10px. */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.section-heading {
    font-family: 'Oswald', sans-serif;
    font-size: 10rem;
    font-weight: 300;
    color: #ddd;
    margin-right: 4rem;
}

.section-heading-line {
    width: 15rem;
    height: 0.2rem;
    background-color: #ddd;
}

/* End of Common Styles */

/* Navbar begins */
.navbar {
    width: 100%;
    /* Make height as 100 viewport height and later on click we will change it to visible or hidden */
    height: 8rem;

    background-color: rgba(0, 0, 0, 0.9);
    /* Navbar will have fixed position at the top of the page*/
    position: fixed;
    /* Hide the navbar and upon loading bring it back */
    top: -8rem;
    /* Navbar hidden as it gets behind banner, change z index */
    z-index: 2;
    /* Space inside navbar using padding 3rem on all 4 sides */
    padding: 3rem;
    transition: height 0.5s;
    animation: animateNavbar 1s 0.5s forwards;
}

/* keyframe for bringing navbar down */

@keyframes animateNavbar {
    0% {
        top: -8rem;
    }

    100% {
        top: 0;
    }
}

/* For expanding navbar on click - click on change */
.navbar.change {
    height: 100vh;
}

/* logo section */
.logo {
    position: absolute;
    top: 1.5rem;
    left: 4rem;
    /* Style the logo */
}

.logo a {
    font-family: 'MADESoulmaze', "Baloo Da 2", sans-serif;
    font-size: 2.5rem;
    color: #eee;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.logo span {
    font-family: 'MADESoulmaze', "Baloo Da 2", sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    color: #9e0e09;
}

/* Hide nav elements to work properly on menu icons*/
.nav-list {
    /* display: none; */
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}

.change .nav-list {
    opacity: 1;
    visibility: visible;
    transition: all 0.7s 0.5s;
}

.nav-link {
    font-family: "MADESoulmaze", "Baloo Da 2", sans-serif;
    font-size: 4rem;
    letter-spacing: .3rem;
    color: #fff;
    margin: 2rem 0;
    font-weight: bold;
    transition: color 0.4s;
}

.nav-link:hover {
    color: #9e0e09;
}

/* Customise menu icons */
.menu {
    width: 4rem;
    height: 4rem;
    /* Temp background just used to see where on title bar icon is coming and placing it at right using background-color; */
    /* background-color: #eee; */
    /* Ends up behind navbar so set position and use z-index */
    position: fixed;
    z-index: 4;
    /* place at top right */
    top: 2rem;
    right: 4rem;
    /* Lines are visible but on top of each other, create space and separate them using flexbox */
    display: flex;
    /* Display lines vertically using flex-direction: column; */
    flex-direction: column;
    /* To have space between elements */
    justify-content: space-evenly;
    /* Change cursor on hover */
    cursor: pointer;
}

/* Select line to make icon */
.line {
    width: 100%;
    height: .2rem;
    background-color: #eee;
    transition: transform 0.3s;
}

/* Change size of line-1 as it is smaller */
.line-1 {
    width: 50%;
    /* Transform with translate option to make line into arrow*/
}

.line-3 {
    width: 50%;
    margin-left: auto;
    /*To place line on right*/
}

.change .line-1 {
    transform: translate(100%, 1rem) rotate(-35deg);
    transform-origin: right;
}

.change .line-3 {
    transform: translateY(-1rem)rotate(35deg);
    transform-origin: right;
}

/* Navbar ends */

/* Section 1 */
.section-1 {
    width: 100%;
    height: 100vh;
    background: url(images/dark-bg.jpeg)no-repeat;
    /* To set image as full screen */
    background-size: cover;
    position: relative;
}

/* Banner position in center and width*/

.banner {
    width: 100%;
    /* To position it as per its parent make parent positioning relative */
    position: absolute;
    top: 20%;
    left: 50%;
    /* For perfect centering move element to left by 50% */
    transform: translateX(-50%);
    /* Align text in center */
    text-align: center;
    /* Banner is centered now customize each element */
    /* Hide scroll bar */
    overflow: hidden;
}

/* CSS Animations using keyframe @keyframes animationName */

@keyframes animatedHeading {

    /* 0% hidden */
    0% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }

    /* At 3% we make element visible */
    3% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }

    /* 3 - 25% heading will be visible 25% to 28% it will hide again */
    25% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }

    /* Hidden at 28% */
    28% {
        transform: translateZ(8);
        opacity: 0;
        letter-spacing: 3rem;
    }

    /* 28% to 100% heading will be hidden */
    100% {
        transform: translateZ(8);
        opacity: 0;
        letter-spacing: 3rem;
    }

    /* We will add the above cycle to all the headings but with different delay times therefore they will display and hide in order again.*/
}

/* Select all the headings separately and assign animation properties to them */

.heading-1 {
    /* animation: nameOfAnimation Duration Delay infinite*/
    animation: animatedHeading 12s 3s infinite;
}

.heading-2 {
    /* animation: nameOfAnimation Duration Delay infinite*/
    animation: animatedHeading 12s 6s infinite;
}

.heading-3 {
    /* animation: nameOfAnimation Duration Delay infinite*/
    animation: animatedHeading 12s 9s infinite;
}

.heading-4 {
    /* animation: nameOfAnimation Duration Delay infinite*/
    animation: animatedHeading 12s 12s infinite;
}

/* Customise banner-heading */

.banner-heading {
    /* Space at the bottom of heading */
    margin-bottom: 4rem;
    /* Height of heading */
    height: 20rem;

    /* Create a 3D env use property perspective it shows how far away the element is from the user and we assign it to .beanner-heading element. */
    perspective: 50rem;
}

/* Select span element of .banner-heading */
.banner-heading span {
    font-family: 'Oswald', sans-serif;
    font-size: 12rem;
    font-weight: 400;
    /* More styles to span element - uppercase, color as white and text-shadow of black color and 0.5 opacity */
    text-transform: uppercase;
    color: #fff;
    text-shadow: .3rem .3rem .6rem rgba(0, 0, 0, 0.5);
    /* To place elements on top of each other use position absolute */
    position: absolute;
    /* Use flexbox to display banner headin in center */
    width: 100%;
    display: flex;
    justify-content: center;

    /* Headings are positioned in center, next we need to work on css animations to view and hide the elements.
    We will move headings closer to the user with the translate function in 3D environment.
    We will hide the elements and we will display headings in order with intervals.
    */
    /* Let's move the headings and hide them */
    transform: translateZ(8rem);
    /* To hide make opacity 0 */
    opacity: 0;
    /* Increase letter spacing to make the effect look better */
    letter-spacing: 3rem;
    /* Horizontal scrollbar will be visible and to hide it in .banner-heading make overflow: as hidden */
}

/* .banner-paragraph customization */

.banner-paragraph {
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    width: 30%;
    /* Margin: top left bottom right 🔝 ⬅ 🔽 ▶ */
    margin: 0 auto 4rem auto;
    /* Create space at the top and bottom inside the para using padding */
    padding: 1rem 0;
    box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.5);
    /* Hide para by default so that animation gets to display it */
    opacity: 0;
    visibility: hidden;
    animation: fadeAnimation 1s 1.5s forwards;
    /* Forwards used so that the element will retain the style values that is set by the last keyframe (depends on animation-direction and animation-iteration-count) */
}

/* Animations for paragraph */

/* Create CSS Keyframes for paragraph and button*/
@keyframes fadeAnimation {

    /* Hide element at 0% of the effect */
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }

    /* Make element visible at 100% of the effect */
}

/*Add fadeAnimation using animation property to .banner-paragraph */

/* End of Animations for paragraph */

/* banner-button */
.banner-btn {
    width: 30rem;
    height: 6rem;
    background: linear-gradient(to right, #9b0e0e, #7a1010);
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 3rem;
    border: .1rem solid #800505;

    /* Shadow effects for button and text */
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.5);
    text-shadow: .6rem .3rem .2rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    /* Hide button by default so that animation loads it. */
    opacity: 0;
    visibility: hidden;
    /* Assign animation to button */
    animation: fadeAnimation 1s 2s forwards;
    /* To assign position as per parent element define position as relative */
    position: relative;
    /* To hide the white stripe by default */
    overflow: hidden;
}


/* Before psuedo element to create shining hover effect */

.banner-btn:before {
    content: "";
    width: 100%;
    height: 100%;
    /* Direction of transition from left to right 
    background: linear-gradient(direction, color1,color2, color3)
    */

    background: linear-gradient(to right, transparent, #fff, transparent);
    /* Define position to make the element visible */
    position: absolute;
    top: 0;
    left: -100%;
    /* Skew horizontally using transform property */
    transform: skewX(-30deg);
    transition: left 0.5s;
}

.banner-btn:hover::before {
    left: 100%;
}

/* End of Section 1 */

/* Section 2 - About Us */

.section-2 {
    width: 100%;
    height: 100vh;
    background-color: #222020;
    display: flex;
    align-items: center;
    padding: 0 10rem;
    position: relative;
}

.video-wrapper {
    width: 100rem;
    height: 50rem;
    position: absolute;
    top: 5rem;
    right: 15rem;
    box-shadow: 3rem 3rem 3rem rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.video-wrapper:hover .controls {
    transform: translateY(0)
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    transition: opacity 0.3s;
}

.video-bar-wrapper {
    width: 100%;
    height: 0.7rem;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
}

.video-bar {
    height: 100%;
    width: 0;
    background-color: #d30819;
    transition: width 0.2s linear;
}

.controls {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(calc(100% - .4rem));
    transition: transform 0.4s;
}

.buttons {
    padding: 2rem 1rem 1rem 1rem;
}

.buttons button {
    background: none;
    border: none;
    cursor: pointer;
}

.buttons i {
    font-size: 2.8rem;
    color: #fff;
}



.section-2-paragraph {
    width: 100rem;
    position: absolute;
    bottom: 8rem;
    right: 15rem;
    font-size: 2rem;
    color: #ddd;
    border-top: 0.3rem double #aaa;
    border-bottom: 0.3rem double #aaa;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.7);
    line-height: 1.5;
}


.fa-quote-left {
    align-self: flex-start;
    font-size: 5rem;
    margin-bottom: 2rem;
}

.fa-quote-right {
    align-self: flex-end;
    font-size: 5rem;
}

/* End of Section 2 - About Us */
/* Section 3 - Pricing */

.section-3 {
    width: 100%;
    height: 100vh;
    background-color: #03070e;
    display: flex;
    align-items: center;
    padding-left: 10rem;
}

.pricing-cards-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 5rem;
}

.pricing-card {
    /* Add !important to override CSS of swiperjs */
    height: 55rem !important;
    width: 32rem !important;
    background-color: #181b1d;
    border-radius: 1rem;
    box-shadow: 2rem 2rem 6rem rgba(0, 0, 0, 0.7);
    /* rotate to show back side manually to design back side  */
    /* transform: rotateY(180deg); */
}



.pricing-card-front {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pricing-card-heading {
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.heading-free {
    background: linear-gradient(to right, #087285, #0da5d3);
    border-radius: 1rem 1rem 0 0;
}


.heading-basic {
    background: linear-gradient(to right, #946809, #bdba0e);
    border-radius: 1rem 1rem 0 0;
}


.heading-standard {
    background: linear-gradient(to right, #a10c14, #e23b3b);
    border-radius: 1rem 1rem 0 0;
}


.heading-premium {
    background: linear-gradient(to right, #0b7e84, #3be286);
    border-radius: 1rem 1rem 0 0;
}

.list-free li {
    color: #0da5d3;
}

.list-basic li {
    color: #bdba0e;
}

.list-standard li {
    color: #e23b3b;
}

.list-premium li {
    color: #3be286;
}

.pricing-card-price {
    font-family: "Baloo Da 2";
    font-size: 7rem;
    font-weight: 300;
    color: #fff;
}

.pricing-card-list i {
    font-size: 1.8rem;
    width: 3rem;
}

.pricing-card-list li {
    margin-bottom: 2rem;
}

.pricing-card-list span {
    font-size: 1.8rem;
    font-size: 300;
    letter-spacing: 0.1rem;
}

.pricing-card-btn {
    width: 18rem;
    height: 5rem;
    margin-bottom: 3rem;
    border-radius: 3rem;
    border: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: .3rem .3rem .6rem rgba(0, 0, 0, 0.5);
}

.btn-free {
    background-color: #0da5d3;
}

.btn-basic {
    background-color: #bdba0e;
}

.btn-standard {
    background-color: #e23b3b;
}

.btn-premium {
    background-color: #3be286;
}

.pricing-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    border-radius: 1rem;
    font-size: 2.5rem;
    transition: a 0.5s;

}

.pricing-card-back a {
    color: #fff;
}

.back-free {
    background: linear-gradient(to right, #087285, #0da5d3);
    border-radius: 1rem 1rem 0 0;
}


.back-basic {
    background: linear-gradient(to right, #946809, #bdba0e);
    border-radius: 1rem 1rem 0 0;
}


.back-standard {
    background: linear-gradient(to right, #a10c14, #e23b3b);
    border-radius: 1rem 1rem 0 0;
}


.back-premium {
    background: linear-gradient(to right, #0b7e84, #3be286);
    border-radius: 1rem 1rem 0 0;
}

/* End of Section 3 - Pricing */

/* Section 4 Contact */

.section-4 {
    width: 100%;
    height: 100vh;
    background-color: #171718;
    display: flex;
    padding: 0 10rem;
    align-items: center;
}

.contact-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-details {
    /* Horizontally in row */
    display: flex;
    margin-bottom: 8rem;
}

.contact-details div {
    width: 25rem;
    text-align: center;
    margin: 4rem;
}

.contact-details i {
    font-size: 5rem;
    color: #711010;
}

.contact-details h3 {
    font-family: "Baloo Da 2", sans-serif;
    font-size: 2.5rem;
    margin: 2rem 0;
    color: #ccc;
}


.contact-details p {
    font-size: 1.6rem;
    color: #aaa;
}

.contact-wrapper h1 {
    font-size: 4rem;
    color: #ccc;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.contact-form {
    width: 70rem;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    padding: 1.5rem;
    background-color: #444;
    color: #eee;
    border: none;
    margin-bottom: 2rem;

    font-family: "Oswald", sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

/* Max min width and height to avoid textarea from messing ui up */
.contact-form textarea {
    max-width: 100%;
    min-width: 60%;
    max-height: 15rem;
    min-height: 20%;
}

.contact-form input[type="submit"] {
    cursor: pointer;
    background-color: #7a1010;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.contact-form input[type="submit"]:hover {
    background-color: #7be649;
}

/* End of Section 4 Contact */


/* Footer */
.footer {
    width: 100%;
    height: 12rem;
    background-color: #202122;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
}

.footer-nav a {
    font-family: "Oswald", "Baloo Da 2", sans-serif;
    font-size: 2rem;
    color: #ccc;
    margin-right: 3rem;
    letter-spacing: 0.1rem;
    transition: color 0.3s;
}

.footer-nav a:hover {
    color: #862323;
}

.copyright {
    font-size: 2rem;
    color: #ddd;
}

/* End of Footer */

/* Making Project Responsive */